+b.about
    +b.container(class="about_container")
        +b.div(class="about_first_column")
            +b.about-content
                +e("h2").about_title About
                +e.div(class="about_description")
                 +e.p(class="about_description_first_p") This project is a part of PRJCTR — Creative & Tech Online Institute course. But we always appreciate to get your feedback and add new features to DAILY-DO.
                 +e.p(class="about_description_second_p") You can open PRJCTR Course page bellow, or leave comment at Produc Hunt page:
            +b.logotypes-box
                +e("a").logo-link(href="#")
                    +e("img").logo-img(src="assets/prjctr-logo.svg" alt="Prjctr Logo")
                 +e("a").logo-link(href="#")
                    +e("img").logo-img(src="assets/prjctr-logo.svg" alt="Prjctr Logo")
                +e("a").logo-link(href="#")
                    +e("img").logo-img(src="assets/product-hunt-logo.svg" alt="Product Hunt Logo")
        +b.div(class="about_second_column")
            +e.animation
                    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_q4400lb7.json" background="transparent" speed="1" loop autoplay></lottie-player>
